@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

html,body{
    width: 100%;
    margin: 0;
    padding: 0;
}
p, ul{
    margin: 0;
    padding: 0;
}
main{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
main section{
    float: left;
}
#title-section{
    width: 100%;
    height: 100%;
    background-color: rgb(255,253,250);
    position: relative;
}
#title-section .title-wrapper{
    width: 25%;
    min-width: 400px;
    max-height: 430px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}
#title-section .title{
    font-size: 100pt;
    font-weight: 600;
    color: rgb(63,63,63);
    text-align: center;
}
#title-section .description{
    text-align: center;
    font-weight: 600;
    font-size: 11pt;
    line-height: 17pt;
    color: rgb(63,63,63);
    margin-top: 15px;
}
#title-section .dong-list{
    width: 100%;
    font-size: 14pt;
    font-weight: bold;
    list-style: none;
    overflow: auto;
    margin-top: 35px;
    margin-left: -4px;
}
#title-section .dong-list li{
    float: left;
    width: 20%;
    text-align: center;
    color: rgb(200,200,200);
}
#title-section .dong-list li a:hover{
    color: rgb(251,185,34);
    cursor: pointer;
}

#title-section .dong-list li a{
    text-decoration: none;
    color: rgb(100,100,100);
}

#detail-section{
    width: 100%;
    background-color: blueviolet;
}
#detail-section .contents{
    height: 900px;
}

/*폰트 설정*/
.square{
    font-family: 'Nanum Square', sans-serif;
}
.gothic{
    font-family: "Nanum Gothic", sans-serif;
}

nav{
    position: fixed;
    width: 46px;
    height: 25px;
    bottom: 30px;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 100;
}
nav div{
    float: left;
    margin: 5px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    box-sizing: border-box;
/*    border: 3px solid rgb(77,77,77);*/
    cursor: pointer;
    background-color: rgb(180,180,180);
}
nav div.selected{
    background-color: rgb(77,77,77);
}