@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

html,body{
    width: 100%;
    margin: 0;
    padding: 0;
}
p, ul{
    margin: 0;
    padding: 0;
}
nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(255,253,250);
    z-index: 100;
    margin: auto;
    left: 0;
    right: 0;
    box-shadow: 0 2px 5px 2px rgb(220,220,220);
/*    border-bottom: 3px solid rgba(200,200,200,0.4);*/
    display: none;
}
nav .wrapper{
    position: absolute;
    width: 95%;
    height: 100%;
    margin: auto;
    left: 0;
    right: 0;
}
nav .wrapper .logo{
    height: 100%;
    position: absolute;
    left: 0;
    cursor: pointer;
}

nav .dong-list{
    width: 55%;
    font-size: 12pt;
    line-height: 50px;
    font-weight: bold;
    list-style: none;
    overflow: auto;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}
nav .dong-list li{
    float: left;
    width: 20%;
    height: 100%;
    text-align: center;
    color: rgb(200,200,200);
}
nav .dong-list li a:hover{
    color: rgb(20,20,20);
    cursor: pointer;
}

nav .dong-list li a{
    text-decoration: none;
    color: rgb(200,200,200);
}

nav .close-icon{
    height: 100%;
    position: absolute;
    right: 0;
    cursor: pointer;
}

.menu-icon-wrapper{
    z-index: 50;
    position: fixed;
    width: 40px;
    height: 55px;
    top: 0;
    right: 2.5%;
}
.menu-icon-wrapper img{
    height: 100%;
    cursor: pointer;
}

#sub-nav{
    position: absolute;
    width: 775px;
    height: 35px;
    background-color: #fff;
    z-index: 100;
    top: 70px;
    margin: auto;
    left: 0;
    right: 0;
    box-shadow: 0 2px 5px 2px rgb(220,220,220);
}

#sub-nav ul li{
    float: left;
    line-height: 35px;
    height: 35px;
    list-style: none;
    text-align: center;
    vertical-align:baseline;
}

#sub-nav ul li.title{
    background-color: rgb(77,77,77);
    color: #fff;
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 100;
    width: 150px;
    box-shadow: 2px 0 5px .5px rgb(150,150,150);
    display: block;
    margin-right: 10px;
}
#sub-nav ul li.year{
    width: 55px;
    font-size: 10pt;
    font-weight: 700;
    padding-top: 1px;
    color: rgb(200,200,200);
}
#sub-nav ul li.active{
    color: rgb(77,77,77);
}
#seven-button span, #sixteen-button span{
    display: block;
    width: 65%;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}
#seven-button span:hover, #sixteen-button span:hover{
    cursor: pointer;
    border-bottom: 3px solid rgb(77,77,77);
}
.selected{
    border-bottom: 3px solid rgb(77,77,77);
}