@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/jejumyeongjo.css);
@import url(http://fonts.googleapis.com/earlyaccess/kopubbatang.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

/*BareunDotumOTF1*/
@font-face {
    font-family: 'barundotumregular';
    src: url('./fonts/barundotum_subset-webfont.eot');
    src: url('./fonts/barundotum_subset-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/barundotum_subset-webfont.woff2') format('woff2'),
         url('./fonts/barundotum_subset-webfont.woff') format('woff'),
         url('./fonts/barundotum_subset-webfont.svg#barundotumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*바른바탕체*/
@font-face {
    font-family: 'bareunbatangotf1light';
    src: url('./fonts/bareunbatangotfl-webfont.eot');
    src: url('./fonts/bareunbatangotfl-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/bareunbatangotfl-webfont.woff2') format('woff2'),
         url('./fonts/bareunbatangotfl-webfont.woff') format('woff'),
         url('./fonts/bareunbatangotfl-webfont.svg#bareunbatangotf1light') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*나눔 바른고딕 Ultra Light*/
@font-face {
    font-family: 'nanumbarungothicregular';
    src: url('./fonts/nanumbarungothicultralight_subset-webfont.eot');
    src: url('./fonts/nanumbarungothicultralight_subset-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/nanumbarungothicultralight_subset-webfont.woff2') format('woff2'),
         url('./fonts/nanumbarungothicultralight_subset-webfont.woff') format('woff'),
         url('./fonts/nanumbarungothicultralight_subset-webfont.svg#nanumbarungothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}