html,body{
  width:100%;
  height:100%;
  font-family: 'DINBlack', sans-serif;
}
ul{
  list-style:none;
}

nav{
  position:fixed;
  top:0;
  left:0;
  width:70px;
  height:100%;
  min-height:800px;
  background-color:#fff;
  /*border:1px solid black;*/
  font-size: 10pt;
}
#logo{
  width:70px;
  height:70px;
}
#menu{
  /*height: 50%;*/
  min-height:450px;
}
#menu li{
  width:100px;
  margin-top:85px;
  margin-left:-55px;
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
  cursor: pointer;
}
#menu li a{
  color:#000;
  text-decoration: none;
}
#menu li a:hover{
  text-decoration: underline;
}

#social{
  position:relative;
  top:25px; /*position <nav>기준으로 수정하기*/
  font-size:5pt;
  margin-left:-35px;
}
#social span{
  padding: 5px;
}
#social li{
  font-family: "DINMedium";
  padding:8px 5px 8px 5px;
  text-decoration: underline;
}
#social li a{
  color: #000;
}

main{
  padding-left:70px;/*nav width*/
}
.cover-contents{
  width:1200px;/*windowWidth-navWidth*/
  /*height:250px;*/
  /*border:2px solid blue;*/
}
.cover-contents img{
  width: 100%;
}
#contents-wrapper{
  width:1200px;
  height:100px;/*없을 경우 footer가 영역 침범. clearfix가 이거 해결책인지 알아보기*/
}
.contents{
  width:24%;
  height:100px;/*임의값*/
  margin:4px;
  border:1px solid black;
  float:left;
}
/* #contents-wrapper:after{
  contents:"";
  clear:both;
} */
#special-nav{
  position:fixed;
  top:0;
  right:0;
  width:55px;/*nav width*/
  height:200px;/*임의값*/
  padding-top: 20px;
  /*border:1px solid green;*/
}
#special-nav > ul > li{
  position: relative;
  width:35px;
  height:35px;
  border-radius:50%;
  margin:15px 0 0 -40px;
  background-color:#000;
  color:#fff;
  text-align:center;
}
#special-nav li img{
  width: 60%;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#contents-detail{
  display: none;
  position: absolute;
  top: 0px;
  left:-200px;
  width: 180px;
  height: 220px;
  border-radius: 7px;
  background-color: #000;
  color: rgb(234,234,234);
  font-family: "DINMedium";
  font-size: 10pt;
  padding: 20px 0 0 0;
}

#contents-detail ul, #contents-detail li{
  width: 100%;
  text-align: left;
}
#contents-detail li{
  height: 30px;
}

#special-nav-contents{
  cursor: pointer;
}
#special-nav-contents:hover #contents-detail{
  display: block;
}

footer{
/*   position:relative;
  bottom:0; */
  width:100%;
  height:55px;
  border-top:1px solid grey;
}
